:root {
  --color-past-due: red;
  --color-due-soon: orange;
  --color-not-due: green;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
  z-index: 1;
}

.task-card:hover {
  cursor: grab;
}

.not-due {
  background-color: var(--color-not-due);
}

.due-soon {
  background-color: var(--color-due-soon);;
}

.past-due {
  background-color: var(--color-past-due);
}
